@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&display=swap');

:root {
  --primary-blue: #fbefbb;
}

body {

  font-family: system-ui;
 margin: 0;
 padding: 0; 
}

.blue {
  font-family: 'Bruno Ace SC', cursive;
  color: var(--primary-blue)
  
}

.orange {
  background: linear-gradient(120deg, #f68251, #fbefbb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Bruno Ace SC', cursive;
}

@layer base {
  * {
    @apply font-[Kanit]
  }
  h1 {
    @apply text-4xl font-bold
  }

}

.black {
  background: linear-gradient(0deg, rgba(196,196,196,1) 0%, rgba(0,0,0,1) 61%);
}

.black_s {
  width: 1000px;
}