  .bars {
    margin: 8px 0;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    gap: 8px;
    height: 6px;
    border-radius: 3px;
    background: #dfe1f0;
  }
  
  .bars {
    height: 6px;
    border-radius: 3px;
    transition: 0.4s;
    width: 0%;
  }
  
  .bars.weak {
    background: #e24c71;
    width: 33.33%;
  }
  
  .bars.medium {
    background: #f39845;
    width: 66.66%;
  }
  
  .bars.strong {
    background: #57c558;
    width: 100%;
  }
