

  .sport_container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .main {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-around;
  }
  

  .img_container {
      width: 350px;
      height: 350px;
      overflow: hidden;
      border-radius: 50%;
      margin: 30px;
      border: 3px solid #fbefbb;
  }

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    width: 820px;
    height: 350px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    padding: 32px;
    overflow: hidden;
    background: rgba( 52, 52, 50, 0.1 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 3px );
-webkit-backdrop-filter: blur( 3px );
border-radius: 10px;
border: 1px solid #fbefbb;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    color: #fbefbb;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .content .heading {
    font-weight: 700;
    font-size: 40px;
    font-family: 'Roboto Condensed', sans-serif;
  }
  
  .content .para {
    line-height: 1.5;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 22px;
  }
  
  .btn {
    border-radius: 999px;
    padding: 1em 2em;
    background: linear-gradient(117deg, #fbefbb, #f68251);
    border: none;
    color: #000000;
    font-size: 1rem;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
    cursor: pointer;
    transition: box-shadow 0.25s ease 0s;
    letter-spacing: 0.08rem;
   }
   
   .btn:hover,
   .btn:focus {
    background: linear-gradient(117deg, #fbefbb, #f68251);
    box-shadow: 0 0.1rem 0.8rem rgb(254, 100, 70);
   }
   
   .modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;    
   }
  
   .input {
    width: 400px;
    max-width: 320px;
    height: 45px;
    padding: 12px;
    margin-top: 5px;
    border-radius: 12px;
    border: 1.5px solid #f68251;
    outline: none;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0px 0px 20px -18px;
  }
  
  .input:hover {
    border: 2px solid #f68251;
    box-shadow: 0px 0px 20px -17px;
  }
  
  .input:active {
    transform: scale(0.95);
  }
  
  .input:focus {
    border: 2px solid grey;
  }
  
  .btn_upd {
    border-radius: 999px;
    padding: 1em 2em;
    background: linear-gradient(117deg, #fbefbb, #f68251);
    border: none;
    color: #000000;
    font-size: 1rem;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
    cursor: pointer;
    transition: box-shadow 0.25s ease 0s;
    letter-spacing: 0.08rem;
   }
   
   .btn_upd:hover,
   .btn_upd:focus {
    background: linear-gradient(117deg, #fbefbb, #f68251);
    box-shadow: 0 0.1rem 0.8rem rgb(254, 100, 70);
   }
  
  